// For Shared Variables accross the site

// ui
$navbar-height: 75px;

// breakpoints
$mobile: 480px;
$tablet-sm: 768px;
$tablet-lg: 1024px;

// margins
$margin-xs: 5px;
$margin-sm: 10px;
$margin: 20px;
$margin-lg: 30px;
$margin-xl: 50px;

// padding
$padding-xs: 5px;
$padding-sm: 10px;
$padding: 20px;
$padding-lg: 30px;
$padding-xl: 50px;

// font size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size: 16px;
$font-size-header: 40px; 

// // colors
$primary: #f9fafb; //tailwind cool grey 100
$secondary: #10b981; //tailwind emerald 500
$tertiary: #475569; //tailwind blue gray 600

// background
$bg: #111827; //tailwind cool grey 900





