// For Shared Variables accross the site


$base-rem: 16px;

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem-calc($value, $base-value: $base-rem) {
    $value: strip-unit($value) / strip-unit($base-value) * 1rem;
    @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
    @return $value;
}

// breakpoints
$mobile: 480px;
$tablet-sm: 768px;
$tablet-lg: 1024px;

// font size
$font-size-xs: rem-calc(12);
$font-size-sm: rem-calc(14);
$font-size: rem-calc(16);
$font-size-lg: rem-calc(20);
$font-size-header: rem-calc(40); 

// margins
$margin-xs: rem-calc(5);
$margin-sm: rem-calc(10);
$margin: rem-calc(20);
$margin-lg: rem-calc(30);
$margin-xl: rem-calc(50);

// padding
$padding-xs: rem-calc(5);
$padding-sm: rem-calc(10);
$padding: rem-calc(20);
$padding-lg: rem-calc(30);
$padding-xl: rem-calc(50);

// // colors
$primary: #fafafa; //tailwind cool grey 100
$secondary: #10b981; //tailwind emerald 500
$tertiary: #64748b; //tailwind blue gray 500
$error: #dc2626; //tailwind red 600;

// background
$bg: #111827; //tailwind cool grey 900

$border-color: #475569;

h1 {
    margin: $margin-lg 0;
}

