// For Shared Variables accross the site

// breakpoints
$mobile: 480px;
$tablet-sm: 768px;
$tablet-lg: 1024px;


// margins
$margin-sm: 10px;
$margin: 20px;
$margin-lg: 30px;
$margin-xl: 50px;



// colors
$white: #e7e8f2;
$grey: #2c3e50;
$green: #42b983;